In [58]:
with open(r"D:\ineuron\practice\ML_projects\project_tasks\deliverytime_ML_model\model\artifacts\model_details.txt","r") as f:
    # f.readlines()
    m1 = f.read()

In [63]:
import pickle

# Open the pickle file for reading
with open(r'D:\ineuron\practice\ML_projects\project_tasks\deliverytime_ML_model\model\artifacts\M2processor.pkl', 'rb') as f:
    # Load the data from the file
    data = pickle.load(f)

# Print the loaded data
# print(data)

In [64]:
import pandas as pd

df = pd.read_csv(r"D:\ineuron\practice\ML_projects\project_tasks\deliverytime_ML_model\data\interim\model2_train.csv")

In [65]:
df.head()

,Delivery_person_Age,Delivery_person_Ratings,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),Daytime,order_pick_Time_Difference_Minutes,onground_dist(KM)
0,39,4.7,Sunny,Jam,1,Meal,scooter,1,No,Metropolitian,19,evening,10,14.8
1,35,4.8,Fog,Medium,0,Meal,motorcycle,3,No,Metropolitian,48,evening,10,23.2
2,21,4.7,Cloudy,Medium,0,Snack,motorcycle,0,No,Metropolitian,35,evening,15,41.3
3,33,4.8,Fog,Jam,0,Drinks,motorcycle,1,No,Metropolitian,40,night,10,24.1
4,31,4.6,Windy,Medium,2,Snack,motorcycle,1,No,Urban,26,afternoon,5,19.2

In [66]:
df['onground_dist(KM)']

0      14.8
1      23.2
2      41.3
3      24.1
4      19.2
       ...
820     3.7
821    13.0
822    19.7
823    30.2
824    36.3
Name: onground_dist(KM), Length: 825, dtype: float64

In [87]:
te = "(morning,)"

In [88]:
toremove="(),"

In [90]:
for i in te:
    for j in toremove:
        if i == j:
           te = te.replace(j,"")


te

'morning'

In [78]:
te.replace("(","").split(",")[0]

'morning'