In [196]:
import pandas as pd 
import numpy as np
import seaborn as sns

In [197]:
df = pd.read_csv(r"D:\ineuron\practice\ML_projects\project_tasks\deliverytime_ML_model\data\processed\final_processed_data2.csv")
df.head()

,Unnamed: 0,Delivery_person_Age,Delivery_person_Ratings,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),Time_Orderd_hour,Time_Orderd_minute,Time_Order_picked_hour,Time_Order_picked_minute,onground_dist,Time_of_day
0,0,36.0,4.2,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46,21,55,22,10,13.5,Evening
1,1,21.0,4.7,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23,14,55,22,10,8.6,Afternoon
2,2,34.0,4.3,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20,9,20,22,10,21.5,Morning
3,3,24.0,4.7,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41,19,50,22,10,4.7,Evening
4,4,29.0,4.5,Sandstorms,Jam,2,Buffet,electric_scooter,1.0,No,Metropolitian,20,20,25,22,10,31.4,Evening

In [199]:
df["day_time"] = Convert_to_daytime_cat(df["Time_Order_picked"])

KeyError: 'Time_Order_picked'

In [200]:
df.head()

,Unnamed: 0,Delivery_person_Age,Delivery_person_Ratings,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),Time_Orderd_hour,Time_Orderd_minute,Time_Order_picked_hour,Time_Order_picked_minute,onground_dist,Time_of_day
0,0,36.0,4.2,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46,21,55,22,10,13.5,Evening
1,1,21.0,4.7,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23,14,55,22,10,8.6,Afternoon
2,2,34.0,4.3,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20,9,20,22,10,21.5,Morning
3,3,24.0,4.7,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41,19,50,22,10,4.7,Evening
4,4,29.0,4.5,Sandstorms,Jam,2,Buffet,electric_scooter,1.0,No,Metropolitian,20,20,25,22,10,31.4,Evening

In [201]:
def order_and_pick_time_difference(df:pd.Series):

    df1 = df["Time_Orderd_hour" , "Time_Orderd_minute"]
    df2 = df["Time_Order_picked_hour", "Time_Order_picked_minute"]
    for i in df1:
        
        ohour = i.split(":")[0]
        ominute= i.split(":")[1]

        onormalize_to_mint = int(ohour) * 60 + int(ominute)

        # print(i , onormalize_to_mint)

    for i in df2:
        
        phour = i.split(":")[0]
        pminute= i.split(":")[1]

        pnormalize_to_mint = int(phour) * 60 + int(pminute)

        # print(i , pnormalize_to_mint)
    return pd.Series(pnormalize_to_mint-onormalize_to_mint)

In [228]:
df.head(-5)

,Unnamed: 0,Delivery_person_Age,Delivery_person_Ratings,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),Time_Orderd_hour,Time_Orderd_minute,Time_Order_picked_hour,Time_Order_picked_minute,onground_dist,Time_of_day
0,0,36.0,4.2,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46,21,55,22,10,13.5,Evening
1,1,21.0,4.7,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23,14,55,22,10,8.6,Afternoon
2,2,34.0,4.3,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20,9,20,22,10,21.5,Morning
3,3,24.0,4.7,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41,19,50,22,10,4.7,Evening
4,4,29.0,4.5,Sandstorms,Jam,2,Buffet,electric_scooter,1.0,No,Metropolitian,20,20,25,22,10,31.4,Evening
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24718,24718,21.0,4.8,Sunny,Low,2,Drinks,motorcycle,0.0,No,Metropolitian,22,22,15,22,10,NaN,Evening
24719,24719,30.0,4.9,Windy,Low,1,Snack,motorcycle,1.0,No,Metropolitian,26,10,25,22,10,NaN,Morning
24720,24720,20.0,4.9,Sandstorms,Jam,2,Drinks,motorcycle,1.0,No,Urban,18,20,25,22,10,NaN,Evening
24721,24721,36.0,4.8,Sunny,Jam,2,Drinks,electric_scooter,1.0,No,Urban,29,21,10,22,10,NaN,Evening
24722,24722,37.0,4.8,Sandstorms,Low,2,Drinks,electric_scooter,0.0,No,Metropolitian,20,9,35,22,10,NaN,Morning

In [234]:
df1 = df["Time_Orderd_hour"]
df11 = df["Time_Orderd_minute"]
df2 = df["Time_Order_picked_hour"]
df22 = df["Time_Order_picked_minute"]
df["Time_Difference_Minutes"] = (df["Time_Order_picked_hour"] * 60 + df["Time_Order_picked_minute"]) - \
                                (df["Time_Orderd_hour"] * 60 + df["Time_Orderd_minute"])

In [235]:
df.head()

,Unnamed: 0,Delivery_person_Age,Delivery_person_Ratings,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),Time_Orderd_hour,Time_Orderd_minute,Time_Order_picked_hour,Time_Order_picked_minute,onground_dist,Time_of_day,Time_Difference_Minutes
0,0,36.0,4.2,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46,21,55,22,10,13.5,Evening,15
1,1,21.0,4.7,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23,14,55,22,10,8.6,Afternoon,435
2,2,34.0,4.3,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20,9,20,22,10,21.5,Morning,770
3,3,24.0,4.7,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41,19,50,22,10,4.7,Evening,140
4,4,29.0,4.5,Sandstorms,Jam,2,Buffet,electric_scooter,1.0,No,Metropolitian,20,20,25,22,10,31.4,Evening,105

In [236]:
435/60

7.25